/* !Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* !--------------------------------- */
/* *Card Immo */
.house-info {
  --h: 80px; /* the intresection height*/
  --g: 16px; /* the gap */
  --r: 18px; /* the radius */

  display: grid;
  gap: var(--g);
  grid-auto-rows: 200px;
  max-width: 25rem;
  margin: 2rem auto;
  container-type: inline-size;
}
.house-info > img {
  width: 100%;
  height: calc(100% + var(--h) / 2);
  object-fit: cover;
  border-radius: var(--r);
  --_g: /var(--r) var(--r) radial-gradient(
      100% 100% at 100% 0,
      #0000 98%,
      #000 101%
    ) no-repeat;
  -webkit-mask: calc(50% + var(--g) / 2 + var(--r) / 2) 100% var(--_g),
    0 calc(100% - var(--h)) var(--_g),
    radial-gradient(100% 100% at 0 100%, #0000 98%, #000 101%) no-repeat
      calc(50% - var(--r) / 2) calc(100% - var(--h) + var(--g) + var(--r)) /
      calc(var(--g) + var(--r)) calc(var(--g) + var(--r)),
    conic-gradient(
      from 180deg at calc(50% + var(--g) / 2) calc(100% - var(--h)),
      #0000 25%,
      #000 0
    );
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.house-info > div {
  margin-top: calc(var(--h) / -2);
  border-radius: var(--r);
  --_g: /var(--r) var(--r) radial-gradient(
      100% 100% at 0 100%,
      #0000 98%,
      #000 101%
    ) no-repeat;
  -webkit-mask: calc(50% - var(--g) / 2 - var(--r) / 2) 0 var(--_g),
    100% var(--h) var(--_g),
    radial-gradient(100% 100% at 100% 0, #0000 98%, #000 101%) no-repeat
      calc(50% + var(--r) / 2) calc(var(--h) - var(--g) - var(--r)) /
      calc(var(--g) + var(--r)) calc(var(--g) + var(--r)),
    conic-gradient(at calc(50% - var(--g) / 2) var(--h), #0000 25%, #000 0);
  -webkit-mask-composite: xor, xor, source-over; /* xor alone should be fine but I get a strange line */
  mask-composite: exclude;
  background: linear-gradient(135deg, #000, #333);
  color: #fff;
  padding: 1rem;
  font-family: system-ui;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8;
}
.house-info > div span {
  display: block;
  background: #fff;
  color: #000;
  text-align: center;
  width: calc(50% - 1rem - var(--g) / 2);
  padding-inline: 0.5rem;
  border-radius: calc(var(--r) - 0.5rem);
  box-sizing: border-box;
}
.house-info > div ul li {
  list-style: none;
}

@container (width < 20rem) {
  .house-info > div,
  .house-info > img {
    margin: 0;
    height: 100%;
    -webkit-mask: none;
  }
  .house-info > div span {
    width: 100%;
  }
}
/* !--------------------------- */
/* *Pagniation */
#pagination {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  width: min(95%, 320px);
  height: 50px;
  display: grid;
  grid-template: 100%/0.5fr 4fr 0.5fr;
}

i {
  align-self: center;
  justify-self: center;
  font-size: 1rem;
  cursor: pointer;
}
.numbers-container {
  overflow: hidden;
}
.numbers-bar {
  position: relative;
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 400ms linear;
}
.numbers-bar span {
  width: 50px;
  text-align: center;
  font-size: 1.25rem;
  position: relative;
  font-family: sans-serif;
  z-index: 2;
  user-select: none;
}
.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d1ec40;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 250ms linear;
}
/* !--------------------- */
/* *Test color with : https://realtimecolors.com/ */
#test_color,
#test_color2 {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-color,
.test-color2 {
  width: 50%;
  height: 100%;
  background: #e6e6e6;
  /* background: hsl(0, 0%, 90%); */
}
.test-color *,
.test-color2 * {
  border: 0;
  border-radius: 5px;
  height: 50%;
  width: 20%;
  color: hsl(0, 0%, 90%);
}
.test-color button {
  background: #0000cc;
  /* background: hsl(240, 100%, 40%); */
}
.test-color input {
  background: #0088cc;
  /* background: hsl(200, 100%, 40%); */
}
.test-color .accent {
  background: #cccc00;
  /* background: hsl(60, 100%, 40%); */
}

.test-color2 button {
  background: #00cc00;
  /* background: hsl(160, 100%, 40%); */
}
.test-color2 input {
  background: #00cc88;
  /* background: hsl(200, 100%, 40%); */
}
.test-color2 .accent2 {
  background: #cc00cc;
  /* background: hsl(300, 100%, 40%); */
}
